body {
    font-family: var(--gill_sans-font);
    font-size: var(--large-font-size);
    font-weight: bold;
    background-color: var(--bgcolor);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--ligther-color);
    line-height: 1.1;
}