body {
    font-family: var(--gill_sans-font);
    font-size: var(--large-font-size);
    font-weight: bold;
    background-color: var(--bgcolor);
}

.form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #123;
    border-bottom: 1px solid #0003;
    color: var(--ligther-color);
    font-size: x-large;
    font-weight: 300;
}